.questions {
    .question {
        .expanding-block {
            border-style: none;
        }

        .panel-body {
            text-align: left;

            .text-block {
                min-height: @font-size-base;
                text-indent: @font-size-base;
            }
        }
    }
}