@base: 4px;

@font-size-xl: 30px;
@font-size-large: 25px;
@font-size-larger: 20px;
@font-size-base: 17px;
@font-size-small: 15px;
@font-size-smaller: 13px;

@base-theme-color: #3374d6;
@base-second-theme-color: #0aaee3;
@base-text-color: #344563;
@base-link-color: #5a738e;
@base-btn-color: #289fce;
@base-btn-border-color: #2891bb;
@base-btn-color-highlight: #3fa8d1;
@base-warning-color: #ff6600;
@base-danger-color: #ff2200;
@base-background-color: #F7F7F7;

@color-white: #ffffff;
@color-gray-light: #e6e9ed;